body{
    margin: 0px;
}
.header, .footer{
    background-color: rgb(121, 121, 121);
    height: 8vh;
}
.body{
    height: 78vh;
    margin: 3vh 0vh;    
    display: flex;
}
.a{
    background-color: greenyellow;
    height: 100%;
    width: 50%;
    order: 2;
}
.b{
    background-color: green;
    height: 100%;
    width: 25%;
    order: 1;
}
.c{
    background-color: yellow;
    height: 100%;
    width: 25%;
    order: 3;
}
@media (max-width: 700px){
    .body{
        flex-wrap: wrap;
    }
    .a{
        height: 67%;
        width: 100%;
        order: 1;
    }
    .c, .b{
        height: 33%;
        width: 50%;
    }
    .b{
        order: 2;
    }
    .c{
        order: 3;
    }
    
}
@media (max-width: 400px){
    .body{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .a{
        height: 50%;
        width: 100%;
        order: 1;
    }
    .c, .b{
        height: 25%;
        width: 100%;
    }
    .b{
        order: 2;
    }
    .c{
        order: 3;
    }
}