body{
    margin: 0px;
}
.header, .footer{
    background-color: rgb(121, 121, 121);
    height: 8vh;
}
.body{
    height: 78vh;
    margin: 3vh 0vh;
    display: flex;
    flex-flow: column wrap;
}
.a{
    background-color: red;
    height: 50%;
    width: 75%;
}
.b{
    background-color: orange;
    height: 50%;
    width: 75%;
}
.c{
    background-color: yellow;
    height: 100%;
    width: 25%;
}
@media (max-width: 700px){
    .c{
    width: 50%;
    }
    .a, .b{
        width: 50%;
    }
}
@media (max-width: 400px){
    .body{
        flex-wrap: nowrap;
    }
    .c{
        height: 33.3%;
        width: 100%;
    }
    .a, .b{
        height: 33.3%;
        width: 100%;
    }
}